@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sacrament Meeting Planner</h1>
    <h6>The following are just place holders</h6>
    <p>date: selected by calender</p>
    <p>Conducting: </p>
    <p>Presiding:</p>
    <p>Announcemnts:</p>
    <p>Opening Hymn:(filled with model requireing a number and a title)</p>
    <p>Opening Prayer:</p>
    <p>Stake Buisness: (box with empty space for notes, optional)</p>
    <p>Ward Buisness: (box with empty space for notes, optional)</p>
    <p>Sacrament Hymn:(filled with model requireing a number and a title) </p>
    <br />
    <p>Fast Sunday Select box: if yes then "bearing of testimonies" if no the program will continue</p>
    <br />
    <a href="">add intermediate hymn</a>
    <a href="">add musical number</a>
    <a href="">add speaker</a>
    <br />
    <p>name and topic: will appear when add speaker is clicked and will be built by model requireing name and topic, unlimited</p>
    <p>intermediate hymn: will appear when add hymn is clicked filled with the same model as the other hymns, optional</p>
    <p>musical number: will appear when add musical number is clicked and will be built with a model requireing title and participants, optional and unlimited</p>
    <br />
    <p>Closing Hymn: filled with hymn model</p>
    <p>Closing Prayer:</p>

</div>
